body {
    font-family: Verdana, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header, .footer {
    height: 72px;
    display: flex;
    justify-content: space-between;
    background: #1f2937;
    padding: 16px;
}